.DropdownMenu {
	position: absolute;
	margin-left: 5%;
	margin-top: 5px;
	margin-right: 85%;
	display: inline-block;
}

.DropdownMenu img {
	height: auto;
	width: 40px;
}

.DropdownMenu-content {
	display: none;
	position: relative;
	margin-right: 20px;
	background-color: #f1f1f1;
	width: 100px;
	height: 200%px;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.DropdownMenu-content a {
	text-align: center;
	color: rgb(61, 61, 61);
	padding: 12px 10px;
	text-decoration: none;
	display: block;
}

.DropdownMenu-content a:hover {
	background-color: #092e2d;
	color: rgb(253, 253, 253);
}

/* Show the dropdown menu on hover */
.DropdownMenu:hover .DropdownMenu-content {
	display: block;
}
