.Textfield {
	padding-top: 0;
	padding-left: 0;
	padding: 10px;
	box-sizing: border-box;
	width: 600px;
	height: 100px;
	border-radius: 10px;
	border-color: #dedede;
	border-style: solid;
	border-width: 1px;
	background: #f0f0f0;
	margin-bottom: 30px;
	margin-top: 8px;
	font-family: Helvetica;
	font-size: 14px;
	resize: vertical;
}
